<h1 class="headProfil">
	Porfil de :  <%= @user.nom %> 
	<%= gravatar_for @user %>
</h1>
<ul>
	<li>Nom : <%= @user.nom %></li>
	<li>Email : <%= @user.email %></li>
</ul>
<%= link_to @user.nom, @user %>