<h1 class="headProfil">
	Porfil de :  <%= @user.nom %> 
	<%= gravatar_for @user %>
</h1>
<%= render "follow_form" if signed_in? %>
<ul>
	<li>Nom : <%= @user.nom %></li>
	<li>Email : <%= @user.email %></li>
	<li>Admin : <%= @user.admin %></li>
	<li>Messages : <%= @user.microposts.count %>
</ul>
<%= render "shared/stats" %>
<% if @user.microposts.any?%>
	<h3>Messages de <%= @user.nom%></h3>
	<% @microposts.each do |micropost| %>
		<%= render micropost %>		
	<% end %>
<% end %>
<br>
<div class="boutEditProf">
	<%= link_to "Editer mon profil", edit_user_path(@user) %>
</div>