<% auteurPost = User.find(@micropost.user_id) %>
<h3><strong>"</strong><%= @micropost.content %><strong>"</strong></h3> de <%= link_to auteurPost.nom, auteurPost %>
<p>
	<% if @commentaires.any? %>
		<h4>Les commentaires</h4>
		<% @commentaires.each do |commentaire| %>
			<% @commentaire = commentaire %>
			<%= render 'commentaire_show' %>
		<% end %>
		<h5><%= link_to "Commenter", new_commentaire_path(:micropost_id => @micropost.id) %></h5>
	<% else %>
		<h5><%= link_to "Soyez le premier à commenter!", new_commentaire_path(:micropost_id => @micropost.id) %></h5>
	<% end %>
</p>